<md-dialog aria-label="Mango (Fruit)">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Modifier une tache :</h2>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">
                <div id="todo-form">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="écrire quelque chose" value="{{updateData.text}}" ng-model="updateData.text">
                            <input type="text" class="form-control" placeholder="auteur" value="{{updateData.auteur}}" ng-model="updateData.auteur">
                        </div>
                    </form>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="answer(false)">
                Annuler
            </md-button>
            <md-button ng-click="answer(modif)">
                Confirmer
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>